.cen{
    margin:130px 260px;
    background-color: white;
    border-radius: 15px;
    padding:50px;
    text-decoration: none;

}
.gre{
    background-color:lightgray;
}
a{
    text-decoration: none;
}